[submodule "doc"]
	path = doc
	url = https://github.com/tiffmaelite/hotel-precheck.git
	branch = gh-pages
	ignore = untracked
[submodule "qt-signal-tools"]
	path = libs/qt-signal-tools
	url = https://github.com/robertknight/qt-signal-tools.git
	branch = master
	ignore = untracked
[submodule "razvanpetruQs"]
	path= libs/razvanpetruQs
	url = https://bitbucket.org/razvanpetru/qt-components
	branch = default
	ignore = untracked
[submodule "libs/razvanpetruQs"]
	path = libs/razvanpetruQs
	url = https://github.com/gitster/git
