[submodule "doc"]
	path = doc
	url = https://github.com/tiffmaelite/hotel-precheck.git
	branch = gh-pages
	ignore = untracked
[submodule "qt-signal-tools"]
	path = libs/qt-signal-tools
	url = https://github.com/robertknight/qt-signal-tools.git
	branch = master
	ignore = untracked
[submodule "razvanpetruQs"]
	path= libs/razvanpetruQs
	url = https://github.com/tiffmaelite/hotel-precheck.git/libs/razvanpetruQs
	branch = default
	ignore = untracked
[submodule "tgrinwis-QsLog"]
	path= libs/tgrinwis-QsLog
	url = https://github.com/tiffmaelite/hotel-precheck.git/libs/tgrinwis-QsLog
	branch = default
	ignore = untracked
[submodule "libs/qrcgen"]
	path = libs/qrcgen
	url = https://github.com/fccoelho/qrcgen.git
