#nav-tree {
	padding: 0px 5px;
	  /*background-image:none;
	  background-color: #F6F6F6;*/
}


#nav-tree .selected {
  /*background-image: none;
  background-color: #B0B0B0;*/
}


#nav-tree .selected a {
  padding:2px;
  margin:0px;
  height: 30px;
}


#side-nav {
  margin-top: 12px;
  margin-left: 5px;
  padding:0;
  width: 300px;
}


.ui-resizable-e {
  /*background: none;
  background-color: #EBEBEB;*/
  width:4px;
}


