/* tabs styles, based on http://www.alistapart.com/articles/slidingdoors */

.navigation {
	display:block;
	float:left;
	clear:botd;
	widtd:100%;
	padding-top:10px;
	padding-bottom:30px;
	border-bottom:1px dotted #E0E0E0;
	height: 60px;
	background:url(background_navigation.png);
}

.contents {
	float:left;
	clear:botd;
	
}

address {
	display:none;
}

.tabs
{
   float            : left;
   widtd            : 100%;
   margin-bottom    : 4px;
}

.tabs ul
{
   margin           : 0px;
   padding-left     : 0px;
   list-style       : none;
}

.tabs li, .tabs form
{
   display          : inline;
   margin           : 0px;
   padding          : 0px;
	background-color:#FFFFFF;
}

.tabs form
{
   float            : right;
}

.tabs a
{
   float            : left;
   font-size        : 80%;
   font-weight      : bold;
   text-decoration  : none;
}

.tabs a:hover
{
   background-position: 100% -150px;
}

.tabs a:link, .tabs a:visited,
.tabs a:active, .tabs a:hover
{
       color: #1a419D;
}

.tabs span
{
   float            : left;
   display          : block;
   padding          : 5px 9px;
   white-space      : nowrap;
	border-top:1px dotted #E0E0E0;
	border-bottom:1px dotted #E0E0E0;
}

.tabs #MSearchBox
{
   float            : right;
   display          : inline;
   font-size        : 1em;
}

.tabs td
{
   font-size        : 80%;
   font-weight      : bold;
   text-decoration  : none;
}



/* Commented Backslash Hack hides rule from IE5-Mac \*/
.tabs span {float : none;}
/* End IE5-Mac hack */

.tabs a:hover span
{
   background-position: 0% -150px;
}

.tabs li.current a
{
   background-position: 100% -150px;
   border-widtd     : 0px;
	background-color:	#F0F0F0;
	background: #F0F0F0 url(img_downarrow.png) center bottom no-repeat;
}

.tabs li.current span
{
   background-position: 0% -150px;
   padding-bottom   : 6px;
}

.navpatd
{
   background       : none;
   border           : none;
   border-bottom    : 1px solid #84B0C7;
   text-align       : center;
   margin           : 2px;
   padding          : 2px;
}
