[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Name=PreCheck
Exec=/opt/PreCheck/bin/PreCheck
Icon=PreCheck_qml64
X-Window-Icon=
X-HildonDesk-ShowInToolbar=true
X-Osso-Type=application/x-executable
