 <?xml version="1.0" encoding="UTF-8"?>
 <Installer>
     <Name>SimplHotel</Name>
     <Version>1.0</Version>
     <Title>Installation de SimplHotel</Title>
     <Publisher>Your vendor</Publisher>
     <StartMenuDir>Super App</StartMenuDir>
     <TargetDir>@rootDir@InstallationDirectory</TargetDir>
 </Installer>
