#trigger {
	cursor: pointer;
}

#trigger a {
font-family:verdana,arial,helvetica;
font-size:11px;
color:#666666;
font-weight:bold;
}

#toolWrapper {
position:absolute;
z-index:100;
top:20px;
left:20px;
background:#FFFFFF;
border:2px solid #666666;
display:none;
-moz-border-radius: 0px;
-webkit-border-radius: 0px;
min-width:265px;
padding:0;
}

#closex {
width:100%;
text-align:right;
margin:0;
padding:0;
}

#chkbox {
max-width:300px;
}

div.editing {
position: relative;
display: inline;
}

input.textBox {
background-color:#f4f4f4;
border:solid 1px #cccccc;
font-family:Trebuchet MS,Geneva, Arial, Helvetica,sans-serif;
font-size:12px;
color:#888888;
padding:2px;
width:160px;
}

#widget_button {
min-width:260px;
padding:8px 18px 8px 0;
text-align:right;
}

input.my_button {
font-family:verdana,arial,helvetica,sans-serif;
background: transparent url('http://revresponse.com/sites/all/themes/revresponse/images/rr_signup_bg.gif') no-repeat top right;
color:#666;
border:0;
width:101px;
height:22px;
font-size:12px;
}

input#my_button {
font-family:verdana,arial,helvetica,sans-serif;
background: transparent url('http://revresponse.com/sites/all/themes/revresponse/images/rr_signup_bg.gif') no-repeat top right;
color:#666;
border:0;
width:101px;
height:22px;
font-size:12px;
padding-bottom:4px;
}

input#flex_button {
font-family:verdana,arial,helvetica,sans-serif;
color:#fff;
border:0;
width:106px;
height:22px;
font-size:12px;
padding-bottom:2px;
font-weight:bold;
}



#optin {
width:250px;
}


#intro {
width:755px;
}

a.pushbutton {
    background: transparent url('/sites/all/themes/revresponse/images/rr_buttonright.png') no-repeat scroll top right;
    color: #fff;
    display: block;
    float: left;
    font: bold 12px arial, sans-serif;
    height: 28px;
    margin-right: 6px;
    padding-right: 16px; /* sliding doors padding */
    text-decoration: none;
}

a.pushbutton span {
    background: transparent url('/sites/all/themes/revresponse/images/rr_buttonleft.png') no-repeat;
    display: block;
    line-height: 14px;
    padding: 6px 0 8px 16px;
} 

#chkbx {
margin-left:8px;
}